<h2>Detalhes do produto</h2>

<div *ngIf = "product">
  <h3> {{product.name}} </h3>
  <h4> {{product.price | currency}}</h4>
  <p> {{product.description}}</p>

  <button (click)="addToCart(product)">
    Comprar
  </button>
</div>
