<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
     [title] = "product.name + ' details'"
     [routerLink] = "['/products', product.id]"
    >
     {{product.name}}
    </a>

    <p *ngIf="product.description">
      {{product.description}}
    </p>

  </h3>

  <button (click)= "share()">
    share
  </button>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  >

  </app-product-alerts>

</div>
